@using Exam.ViewModels.Account;
@model LoginVM
<form method="post">
    <!-- Email input -->
    <div class="form-outline mb-4">
        <label asp-for="UsernameOrEmail">UsernameOrEmail</label>
        <input asp-for="UsernameOrEmail" class="form-control" placeholder="UsernameOrEmail">
        <span asp-validation-for="UsernameOrEmail" class="text-danger"></span>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" class="form-control" placeholder="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
        <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
                <input asp-for="IsRemembered" class="form-check-input"  id="form2Example31" />
                <label asp-for="IsRemembered" class="form-check-label" > Remember me </label>
            </div>
        </div>
        <div style="color:red" asp-validation-summary="ModelOnly">
        </div>

        <div class="col">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
        </div>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

    <!-- Register buttons -->
    <div class="text-center">
        <p>Not a member? <a asp-action="Register" >Register</a></p>
        <p>or sign up with:</p>
        <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
        </button>
    </div>
</form>


